<div class="container">
  <app-logo></app-logo>
  <mat-card class="forgot-card box-shadow">

    <div class="text-centered">
      <mat-card-header>
        <mat-card-title>Mot de passe oubliée</mat-card-title>
      </mat-card-header>
    </div>

    <form [formGroup]="ForgotForm" novalidate class="exemple-form">

      <mat-card-content>
        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Email" class="trywidth" formControlName="email">
            <mat-error *ngIf="ForgotForm.controls.email.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div class="field text-centered">
          <button type="submit" mat-flat-button color="primary" [disabled]="ForgotForm.pristine || ForgotForm.invalid"
            class="btn btn-success forgotButton">
            Envoyer
          </button>
        </div>
      </mat-card-actions>

    </form>

    <div class="margin-top text-centered">
      <a class="fortgotLink" routerLink="/login/signin">
        Se connecter ?
      </a>
    </div>

  </mat-card>
  <p>Form value: {{ ForgotForm.value | json }}</p>
  <p>Form status: {{ ForgotForm.status | json }}</p>
</div>