//Container
.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}

//Rewrite Angular Material
.mat-card-header {
  display: block !important;
}

.mat-form-field {
  display: block !important;
}

//Disposition
.forgot-card {
  max-width: 400px;
  margin: 0 auto;

}

.text-centered {
  text-align: center;
}

//Design
.forgotButton {
  width: 100%;
  background-color: #42ab9e;
}

.fortgotLink {
  color: #42ab9e;
  cursor: pointer;
  text-decoration: none;
}

.fortgotLink:hover {
  color: #4a4a4a;
}

.box-shadow {
  border: 1px solid #d8dee2;
}