<div class="container">
  <app-logo></app-logo>
  <mat-card class="signup-card box-shadow">

    <div class="text-centered">
      <mat-card-header>
        <mat-card-title>S'inscrire</mat-card-title>
      </mat-card-header>
    </div>

    <form [formGroup]="SignUpForm" (ngSubmit)="onRegisterSubmit()" class="exemple-form">

      <mat-card-content>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Nom" name="nom" type="text" class="trywidth" formControlName="nom">
            <mat-error *ngIf="SignUpForm.controls.nom.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Prénom" name="prenom" type="text" class="trywidth" formControlName="prenom">
            <mat-error *ngIf="SignUpForm.controls.prenom.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Email personnel" name="email_perso" type="email" class="trywidth"
              formControlName="email_perso">
            <mat-error *ngIf="SignUpForm.controls.email_perso.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Email école" name="email_ecole" type="email" class="trywidth" formControlName="email_ecole">
            <mat-error *ngIf="SignUpForm.controls.email_ecole.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput formControlName="password" name="password" placeholder="Mot de passe" [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="SignUpForm.controls.password.hasError('required')">
              Ce champ est requis
            </mat-error>
            <mat-error *ngIf="SignUpForm.controls.password.hasError('minlength') && !SignUpForm.controls.password.hasError('required')">
              La longueur du champ doit être au minimum de 8
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Téléphone" name="telephone" type="text" class="trywidth" formControlName="telephone">
            <mat-error *ngIf="SignUpForm.controls.telephone.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Adresse" name="adresse" type="text" class="trywidth" formControlName="adresse">
            <mat-error *ngIf="SignUpForm.controls.adresse.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Date de naissance" name="date_naissance" type="text" class="trywidth"
              formControlName="date_naissance">
            <mat-error *ngIf="SignUpForm.controls.date_naissance.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Ville de naissance" name="ville_naissance" type="text" class="trywidth"
              formControlName="ville_naissance">
            <mat-error *ngIf="SignUpForm.controls.ville_naissance.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <div class="field text-centered">
          <button type="submit" mat-flat-button color="primary" [disabled]="SignUpForm.pristine || SignUpForm.invalid"
            class="btn btn-success signupButton">
            Inscription
          </button>
        </div>
      </mat-card-actions>

    </form>

    <div class="margin-top text-centered">
      <a class="signupLink" routerLink="/login/signin">
        Se connecter
      </a>
    </div>

  </mat-card>
  <p>Form value: {{ SignUpForm.value | json }}</p>
  <p>Form status: {{ SignUpForm.status | json }}</p>
</div>