<app-main-nav>
  <div *ngIf="user">
    <div class="container">
      <h2 class="page-header">Profil utilisateur</h2>
      <hr><br>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nom" name="nom" [(ngModel)]="user.nom" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Prénom" name="prenom" [(ngModel)]="user.prenom" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email personnel" name="email_perso" [(ngModel)]="user.email_perso" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email école" name="email_école" [(ngModel)]="user.email_ecole" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Téléphone" name="telephone" [(ngModel)]="user.telephone" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Adresse" name="adresse" [(ngModel)]="user.adresse" disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Date de naissance" name="date_naissance" [(ngModel)]="user.date_naissance"
            disabled>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Ville de naissance" name="ville_naissance" [(ngModel)]="user.ville_naissance"
            disabled>
        </mat-form-field>

        <div class="text-centered">
          <button mat-flat-button color="primary" class="editButton">
            Modifier
          </button>
        </div>

      </form>
    </div>
  </div>
</app-main-nav>