@import "src/@fuse/scss/fuse";

$znov: (50 : #56d5c7,
100 : #56d5c7,
200 : #56d5c7,
300 : #56d5c7,
400 : #01a295,
500 : #01a295,
600 : #01a295,
700 : #007368,
800 : #007368,
900 : #007368,
A100 : #56d5c7,
A200 : #01a295,
A400 : #01a295,
A700 : #007368,
contrast: (50: $dark-primary-text,
100: $dark-primary-text,
200: $dark-primary-text,
300: $light-primary-text,
400: $light-primary-text,
500: $light-primary-text,
600: $light-primary-text,
700: $light-primary-text,
800: $light-primary-text,
900: $light-primary-text,
A100: $dark-primary-text,
A200: $light-primary-text,
A400: $light-primary-text,
A700: $light-primary-text,
));

$znov-rose: (50 : #ff6c8d,
100 : #ff6c8d,
200 : #ff6c8d,
300 : #ff6c8d,
400 : #ef3160,
500 : #ef3160,
600 : #ef3160,
700 : #b60037,
800 : #b60037,
900 : #b60037,
A100 : #ff6c8d,
A200 : #ef3160,
A400 : #ef3160,
A700 : #b60037,
contrast: (50: $dark-primary-text,
100: $dark-primary-text,
200: $dark-primary-text,
300: $light-primary-text,
400: $light-primary-text,
500: $light-primary-text,
600: $light-primary-text,
700: $light-primary-text,
800: $light-primary-text,
900: $light-primary-text,
A100: $dark-primary-text,
A200: $light-primary-text,
A400: $light-primary-text,
A700: $light-primary-text,
));

$znov-black: (50 : #4b4647,
100 : #4b4647,
200 : #4b4647,
300 : #4b4647,
400 : #231f20,
500 : #231f20,
600 : #231f20,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #4b4647,
A200 : #231f20,
A400 : #231f20,
A700 : #000000,
contrast: (50: $dark-primary-text,
100: $dark-primary-text,
200: $dark-primary-text,
300: $light-primary-text,
400: $light-primary-text,
500: $light-primary-text,
600: $light-primary-text,
700: $light-primary-text,
800: $light-primary-text,
900: $light-primary-text,
A100: $dark-primary-text,
A200: $light-primary-text,
A400: $light-primary-text,
A700: $light-primary-text,
));

#academy-courses {

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {

            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
    }

    .content {

        .category-selector {
            min-width: 320px;
        }

        .filters {
            width: 100%;
            max-width: 1040px;
            margin: 24px auto;
            padding: 0 20px;

            @include media-breakpoint('xs') {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint('gt-xs') {
                    margin-right: 16px;
                }
            }
        }

        .courses {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;

                &:hover {

                    .course-content {
                        border: none;
                        @include mat-elevation(12);
                    }
                }

                .course-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;

                        &.scolarite-bg {
                            background: mat-color($znov, 500);
                        }

                        &.document-bg {
                            background: mat-color($znov-rose, 500);
                        }

                        &.promotion-bg {
                            background: mat-color($znov-black, 300);
                        }

                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                            color:white;
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        padding: 24px;

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                        }
                    }

                    .footer {
                        padding: 16px;
                        height: 48px !important;
                        min-height: 48px !important;
                        max-height: 48px !important;
                        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
}
