<div class="container">
  <app-logo></app-logo>
  <mat-card class="signIn-card box-shadow">

    <div class="text-centered">
      <mat-card-header>
        <mat-card-title>Se connecter</mat-card-title>
      </mat-card-header>
    </div>

    <form [formGroup]="SignInForm" (ngSubmit)="onLoginSubmit()" novalidate>

      <mat-card-content>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Email" name="email_ecole" type="email" formControlName="email_ecole">
            <mat-error *ngIf="SignInForm.controls.email_ecole.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

        <div class="field">
          <mat-form-field>
            <input matInput placeholder="Mot de passe" name="password" formControlName="password" [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="SignInForm.controls.password.hasError('required')">
              Ce champ est requis
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <div class="field text-centered">
          <button type="submit" mat-flat-button color="primary" [disabled]="SignInForm.pristine || SignInForm.invalid"
            class="btn btn-success signInButton">
            Connexion
          </button>
        </div>
      </mat-card-actions>

    </form>

    <div class="margin-top text-centered">
      <a class="fortgotLink" routerLink="/login/forgot">
        Mot de passe oublié ?
      </a>
    </div>

  </mat-card>
  <p>Form value: {{ SignInForm.value | json }}</p>
  <p>Form status: {{ SignInForm.status | json }}</p>
</div>