.background-logo{
    height:auto;
    min-height:160px;
	background-image:url(../../../../assets/login/logo.png);
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
